@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$fontColor: hsl(0, 0%, 100%);
$backgroundColor: hsl(257, 40%, 49%);
$poppins: 'Poppins', sans-serif;
$opensans: 'Open Sans', sans-serif;
$tabletMinWidth: 768px;
$tabletMinWidthLand: 1024px;
